<footer class="navbar navbar-fixed-bottom navbar-inverse">
  <div class="container">
  	<small>
    	KM by: Kyle Menzer. Site by: Bob Kupfner
  	</small>

  	<nav>
    	<ul class="nav navbar-nav navbar-right">
    	</ul>
  	</nav>
  </div>
</footer>
